.search-container {
  position: relative;
  z-index: 9999;
  top: 0;
  left: 50%;
  width: 74%;
  margin: 2em 0;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.335);
  box-sizing: border-box;
  transform: translateX(-50%);
  &:focus {
    border: none;
  }
  #search-input {
    outline: none;
    height: 2.6em;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    border: none;
    &:focus {
      border: 1px solid #2780ca;
      transition: all 0.22s ease-in;
    }
  }
}
