.search-container {
  position: relative;
  z-index: 9999;
  top: 0;
  left: 50%;
  width: 74%;
  margin: 2em 0;
  transform: translateX(-50%);
  #search-input {
    outline: none;
    height: 2.6em;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }
}
